backend/backups/flows.json
[
    {
        "id": "a1fa193f6dd0cf8a",
        "type": "tab",
        "label": "MQTT消息导入InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "EMQX Broker",
        "broker": "emqx",
        "port": "21883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6cda38b21038c7e0",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "d6d76683c460cfb6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "6e1820dcb2d2a295",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "24b15f7f715a166f",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "d6d76683c460cfb6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "6e1820dcb2d2a295",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2549e8cc9c0e7d3a",
        "type": "ui-group",
        "name": "Group 1",
        "page": "24b15f7f715a166f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "ad351bc4b9ad09f8",
        "type": "mqtt in",
        "z": "a1fa193f6dd0cf8a",
        "name": "esp32/sunlamp/status",
        "topic": "esp32/sunlamp/status",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "70e2f76e68038f82",
                "e61e180e382e2076",
                "91d9c38ec69ff164"
            ]
        ]
    },
    {
        "id": "445ff00ad36894cf",
        "type": "influxdb out",
        "z": "a1fa193f6dd0cf8a",
        "influxdb": "6cda38b21038c7e0",
        "name": "",
        "measurement": "sensor_readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_org",
        "bucket": "sensor_data",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "70e2f76e68038f82",
        "type": "debug",
        "z": "a1fa193f6dd0cf8a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "e61e180e382e2076",
        "type": "function",
        "z": "a1fa193f6dd0cf8a",
        "name": "Flattening JSON",
        "func": "// // 从原始消息中获取数据\n// const data = msg.payload;\n\n// // 创建一个新的、符合要求的数据对象\n// const newPayload = {\n//     temp: data.dht22.temperature,\n//     humid: data.dht22.humidity,\n//     voc: data.sgp30.tvoc,\n//     co2: data.sgp30.eco2,\n//     light: data.light\n// };\n\n// // 用新对象替换掉原来的 msg.payload\n// msg.payload = newPayload;\n\n// // 必须返回消息，才能传递给下一个节点\n\n// return msg;\n\n// 输入的 msg.payload 就是完整的 system_state 对象\nconst systemState = msg.payload;\n\n// 检查输入数据是否有效，防止因数据格式错误导致流程中断\nif (!systemState || !systemState.sensor) {\n    node.error(\"Invalid payload: 'systemState.sensor' is missing.\", msg);\n    return null; // 停止消息传递\n}\n\n// 从 systemState.sensor 对象中提取数据，并创建一个新的扁平化对象\nconst newPayload = {\n    temp: systemState.sensor.temperature,\n    humid: systemState.sensor.humidity,\n    voc: systemState.sensor.tvoc,\n    co2: systemState.sensor.eco2,\n    light: systemState.sensor.light\n};\n\n// 用新对象替换掉原来的 msg.payload\nmsg.payload = newPayload;\n\n// 必须返回消息，才能传递给下一个节点\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "445ff00ad36894cf"
            ]
        ]
    },
    {
        "id": "8a5fae9eba650aaf",
        "type": "e-mail",
        "z": "a1fa193f6dd0cf8a",
        "server": "smtphz.qiye.163.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "230021100536@bitzh.edu.cn",
        "dname": "学校邮箱发送测试",
        "x": 510,
        "y": 840,
        "wires": [],
        "info": "Cxtd7F1ADKfJVNTX"
    },
    {
        "id": "8420a0837b19dd27",
        "type": "inject",
        "z": "a1fa193f6dd0cf8a",
        "name": "这是来自nodered的测试邮件",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "这是来自nodered的测试邮件",
        "payload": "跨越长城 走向世界",
        "payloadType": "str",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "8a5fae9eba650aaf"
            ]
        ]
    },
    {
        "id": "8c7ccd1144039235",
        "type": "e-mail in",
        "z": "a1fa193f6dd0cf8a",
        "name": "学校邮箱接受测试",
        "protocol": "IMAP",
        "server": "imaphz.qiye.163.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "60",
        "fetch": "auto",
        "inputs": 0,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "d2454f149d70990b"
            ]
        ],
        "info": "Cxtd7F1ADKfJVNTX"
    },
    {
        "id": "d2454f149d70990b",
        "type": "debug",
        "z": "a1fa193f6dd0cf8a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 940,
        "wires": []
    },
    {
        "id": "8ab050d8fda6f30d",
        "type": "e-mail",
        "z": "a1fa193f6dd0cf8a",
        "server": "smtp.qq.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "230021100536@bitzh.edu.cn",
        "dname": "QQ邮箱发送测试",
        "x": 510,
        "y": 880,
        "wires": []
    },
    {
        "id": "af6551b2a68f6f0b",
        "type": "e-mail in",
        "z": "a1fa193f6dd0cf8a",
        "name": "QQ邮箱接受测试",
        "protocol": "IMAP",
        "server": "imap.qq.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "300",
        "fetch": "auto",
        "inputs": 0,
        "x": 220,
        "y": 1000,
        "wires": [
            []
        ],
        "info": "wmdkolkvoiotibab"
    },
    {
        "id": "91d9c38ec69ff164",
        "type": "uibuilder",
        "z": "a1fa193f6dd0cf8a",
        "name": "",
        "topic": "",
        "url": "sunlamp",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://vscode-remote/ssh-remote+8.138.213.43/data/uibuilder/sunlamp/?windowId=_blank",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "a7bb6936d015346e"
            ],
            []
        ]
    },
    {
        "id": "a7bb6936d015346e",
        "type": "switch",
        "z": "a1fa193f6dd0cf8a",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "set",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "anim",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "455edbc2c4a32585"
            ],
            [
                "e6a851846d1e01b8"
            ],
            [
                "f1d40199c3b536b7"
            ]
        ]
    },
    {
        "id": "455edbc2c4a32585",
        "type": "function",
        "z": "a1fa193f6dd0cf8a",
        "name": "set",
        "func": "// 将前端发来的 payload 直接用于 MQTT\nmsg.payload = JSON.stringify({\n    \"cmd\": \"set\",\n    ...msg.payload // 使用展开运算符合并对象\n});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 340,
        "wires": [
            [
                "5617539f3c51508c"
            ]
        ]
    },
    {
        "id": "e6a851846d1e01b8",
        "type": "function",
        "z": "a1fa193f6dd0cf8a",
        "name": "anim",
        "func": "msg.payload = JSON.stringify({\n    \"cmd\": \"anim\",\n    ...msg.payload\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 420,
        "wires": [
            [
                "5617539f3c51508c"
            ]
        ]
    },
    {
        "id": "f1d40199c3b536b7",
        "type": "debug",
        "z": "a1fa193f6dd0cf8a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "5617539f3c51508c",
        "type": "mqtt out",
        "z": "a1fa193f6dd0cf8a",
        "name": "",
        "topic": "esp32/sunlamp/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "698aa9cfcd0b5c48",
        "type": "uibuilder",
        "z": "a1fa193f6dd0cf8a",
        "name": "",
        "topic": "",
        "url": "sunlamp-chart",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://vscode-remote/ssh-remote+8.138.213.43/data/uibuilder/sunlamp-chart/?windowId=_blank",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "7542dc75d907e544"
            ],
            []
        ]
    },
    {
        "id": "7542dc75d907e544",
        "type": "function",
        "z": "a1fa193f6dd0cf8a",
        "name": "查询构建",
        "func": "// 构建查询过去15分钟数据的 Flux 语句\nconst query = `\n    from(bucket: \"sensor_data\")\n      |> range(start: -15m)\n      |> filter(fn: (r) => r[\"_measurement\"] == \"sensor_readings\")\n      |> filter(fn: (r) => r[\"_field\"] == \"co2\" or r[\"_field\"] == \"humid\" or r[\"_field\"] == \"light\" or r[\"_field\"] == \"temp\" or r[\"_field\"] == \"voc\")\n      // 【可选】如果数据点很多，可以按分钟聚合\n      // |> aggregateWindow(every: 1m, fn: mean, createEmpty: false)\n      |> yield(name: \"mean\")\n`;\nmsg.query = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "7e777cbdbd398a79",
                "a4a3591baab190e7"
            ]
        ]
    },
    {
        "id": "dd54786f3c2ef5db",
        "type": "function",
        "z": "a1fa193f6dd0cf8a",
        "name": "数据格式化",
        "func": "const data = msg.payload;\nconst groupedData = new Map();\n\nfor (const record of data) {\n    const fieldName = record._field;\n    const value = record._value;\n    const timestamp = new Date(record._time);\n    if (!groupedData.has(fieldName)) {\n        groupedData.set(fieldName, []);\n    }\n    groupedData.get(fieldName).push({ x: timestamp, y: value });\n}\n\nconst datasets = [];\nconst fieldStyles = {\n    'temp': { label: 'Temperature (°C)', borderColor: 'rgb(255, 99, 132)', backgroundColor: 'rgba(255, 99, 132, 0.2)' },\n    'humid': { label: 'Humidity (%)', borderColor: 'rgb(54, 162, 235)', backgroundColor: 'rgba(54, 162, 235, 0.2)' },\n    'light': { label: 'Light (Lux)', borderColor: 'rgb(255, 206, 86)', backgroundColor: 'rgba(255, 206, 86, 0.2)' },\n    'co2': { label: 'CO2 (ppm)', borderColor: 'rgb(75, 192, 192)', backgroundColor: 'rgba(75, 192, 192, 0.2)' },\n    'voc': { label: 'VOC (ppb)', borderColor: 'rgb(153, 102, 255)', backgroundColor: 'rgba(153, 102, 255, 0.2)' }\n};\n\nfor (const [fieldName, points] of groupedData.entries()) {\n    const style = fieldStyles[fieldName] || { label: fieldName, borderColor: 'rgb(0,0,0)' };\n\n    // 【关键改动】将 x 转换为毫秒时间戳\n    const formattedPoints = points.map(p => {\n        return { x: p.x.getTime(), y: p.y };\n    });\n\n    datasets.push({\n        label: style.label,\n        data: formattedPoints,\n        borderColor: style.borderColor,\n        backgroundColor: style.backgroundColor,\n        tension: 0.1,\n        fill: false\n    });\n}\n\n// 【关键改动】不再需要 labels 数组\nconst chartData = {\n    datasets: datasets\n};\n\nmsg.payload = { topic: 'chart_data', payload: chartData };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "698aa9cfcd0b5c48",
                "a4a3591baab190e7"
            ]
        ]
    },
    {
        "id": "306edd1df3427d18",
        "type": "influxdb out",
        "z": "a1fa193f6dd0cf8a",
        "influxdb": "6cda38b21038c7e0",
        "name": "",
        "measurement": "sensor_readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_org",
        "bucket": "sensor_data",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "7e777cbdbd398a79",
        "type": "influxdb in",
        "z": "a1fa193f6dd0cf8a",
        "influxdb": "6cda38b21038c7e0",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "iot_org",
        "x": 660,
        "y": 700,
        "wires": [
            [
                "dd54786f3c2ef5db"
            ]
        ]
    },
    {
        "id": "a4a3591baab190e7",
        "type": "debug",
        "z": "a1fa193f6dd0cf8a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 600,
        "wires": []
    },
    {
        "id": "dd378b76be786ab2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-node-email": "5.0.0",
            "node-red-contrib-uibuilder": "7.5.0"
        }
    }
]